.editorPane {
  display: flex;
  flex-direction: column;
  height: 100%;
}
  
.cellList {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.editorLayout {
  position: relative;
  overflow-y: auto;
  padding-bottom: 2em;
}

.emptyMessage {
  text-align: center;
  color: #888;
  font-style: italic;
  margin: 2em 0 2em 2em;
}