/* components/overlays/HotkeyOverlay.module.css */

.group {
  margin-bottom: 2rem;
}

.groupTitle {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--math-editor-border);
  padding-bottom: 0.25rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  /* keys | description | preview */
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: monospace;
  gap: 0.25rem;
}

.key {
  background: var(--hotkey-key-bg, var(--button-bg));
  color: var(--hotkey-key-color, var(--button-color));
  padding: 0.2em 0.4em;
  border-radius: 4px;
  margin: 0 2px;
  font-size: 0.95em;
  font-family: monospace;
  border: 1px solid var(--button-bg);
}

.separator {
  margin: 0 4px;
  font-weight: normal;
  color: var(--hotkey-key-color, var(--button-color));
}

.desc {
  font-size: 0.95rem;
}

.group {
  margin-bottom: 1.5rem;
}

.groupTitle {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Styles for subgroups */
.subgroup {
    padding-left: 0.5rem;
    border-left: 4px solid var(--button-bg);
    margin-bottom: 1rem;
}

.subgroupTitle {
  font-size: 1rem; /* smaller than groupTitle */
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Ensure hotkey rows are aligned correctly in subgroup */
.subgroup .row {
  align-items: center;
  margin-bottom: 0.25rem;
}

.preview {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  justify-content: center;
  background: var(--background-color);
  border-radius: 4px;
  padding: 0.2em 0.2em 0.1em 0.2em;
  /* margin-left: auto; */
}

.smallPreview {
  font-size: 1.05rem;
}

.mediumPreview {
  font-size: 0.8rem;
}

.tallPreview {
  font-size: 0.6rem;
}
