.preview {
  margin-top: 10px;
  background: var(--background-color);
  padding: 8px;
  border-radius: 4px;
}

.previewEntries {
  display: flex;
  background-color: var(--background-color);
  max-height: 20em;
  overflow-y: auto;
  flex-wrap: wrap;
  gap: 6px;
}

.previewEntries::-webkit-scrollbar {
  display: none;
}

.previewEntry {
  background: var(--modal-bg);
  padding: 6px;
  border: 1px solid var(--modal-border-dark);
  border-radius: 4px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  font-size: 0.8rem;
  color: var(--modal-text-tertiary);
  padding-left: 6px;
  align-self: center;
}

.empty {
  text-align: center;
  color: var(--latex-text-color);
}

.emptyPreview {
  color: var(--modal-text-secondary);
  font-style: italic;
}
