.keyOverlay {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    font-family: monospace;
    font-size: 9px;
    z-index: 9999;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    max-width: 40%;
}

.liveEntry {
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 4px;
    border-radius: 4px;
    font-weight: bold;
    opacity: 0.6;
}

.historyEntry {
    padding: 0px 4px;
    border-radius: 4px;
    animation: fadeout 1s forwards;
}

@keyframes fadeout {
    0% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}