  .latexViewer {
    padding: 0.75em;
    color: var(--math-text-color);
    border-radius: 6px;
    font-family: monospace;
  }

  .latexViewer.hide {
    display: none;
  }
  
  .latexHeader {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 0.5em;
  }
  
  .refreshButton {
    padding: 0.4em 0.8em;
    border: none;
    border-radius: 4px;
    font-size: 0.85em;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease;
  }
  
  .refreshButton.fresh {
    background-color: var(--latex-refresh-button-color-updated);
    color: white;
  }
  .refreshButton.fresh:hover {
    background-color: var(--latex-refresh-button-color-updated-hover);
  }
  .refreshButton.fresh:active {
    background-color: var(--latex-refresh-button-color-updated-active);
  }

  .refreshButton.outdated {
    background-color: var(--latex-refresh-button-color-outdated);
    color: white;
  }
  .refreshButton.outdated:hover {
    background-color: var(--latex-refresh-button-color-outdated-hover);
  }
  .refreshButton.outdated:active {
    background-color: var(--latex-refresh-button-color-outdated-active);
  }

  .latexTimestamp {
    font-size: 0.75em;
    opacity: 0.6;
  }
  
  .latexBoxWrapper {
    position: relative;
    display: flex;
  }
  
  .latexBox {
    width: 100%;
    text-align: left;
    overflow: auto;
    height: auto;
    resize: none;
    background: inherit;
    color: inherit;
    border: 1px solid var(--math-editor-border);
    color: var(--latex-text-color);
    border-radius: 4px;
    padding: 0.5em 10em 0.5em 0.5em;
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    outline: none;
    overflow-wrap: normal;
    white-space: pre-wrap;
  }
  
  .copyButton {
    position: absolute;
    top: 0.5em;
    right: 1em;
    opacity: 0;
    transition: opacity 0.1s ease;
    background: var(--math-editor-border);
    color: var(--math-text-color);
    border: none;
    border-radius: 4px;
    padding: 0.2em 0.6em;
    font-size: 1em;
    cursor: pointer;
  }
  
  .latexBoxWrapper:hover .copy-button {
    opacity: 1;
  }
  