.metadataBar {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2rem var(--editor-margin-right) 2rem var(--editor-margin-left);
}

.metadataBar.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0;
}

.metadataBar.locked {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.4em;
}

.metadataBar textarea {
  padding: 0.1rem 0;
}

.titleWrapper {
  padding: 0.75rem 1rem;
  border: 1px solid var(--math-editor-border);
  background: var(--math-editor-bg);
  border-radius: 6px;
  box-shadow: 0 0 4px var(--math-editor-shadow);
}

.titleInput {
  font-size: 1.6rem;
  font-weight: bold;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: var(--math-text-color);
}

.metaRow {
  display: flex;
  gap: 1rem;
}

.metaList {
  width: 100%;
}

.metaBox {
  flex: 1;
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--math-editor-border);
  background: var(--math-editor-bg);
  border-radius: 6px;
  box-shadow: 0 0 4px var(--math-editor-shadow);
}

.metaInput {
  font-size: 0.95rem;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: var(--math-text-color);
}


.previewTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--math-text-color);
  width: 100%;
}

.previewAuthor {
  font-size: 1rem;
  color: var(--math-text-color);
  opacity: 0.85;
  width: 100%;
}

.previewDate {
  font-size: 0.9rem;
  color: var(--math-text-color);
  opacity: 0.65;
  width: 100%;

}

.previewInputTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--math-text-color);
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: auto;
  font: inherit;
  padding: 0;
}

.previewInputAuthor {
  font-size: 1rem;
  color: var(--math-text-color);
  opacity: 0.85;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: auto;
  font: inherit;
  padding: 0;
}

.previewInputDate {
  font-size: 0.9rem;
  color: var(--math-text-color);
  opacity: 0.65;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: auto;
  font: inherit;
  padding: 0;
}