.cell-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-y: auto;
  }
  
  .add-buttons {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }

  .cell {
    padding: 0.8em 0em;
  }
  
  .math-cell {
    position: relative;
  }

  .text-cell {
    position: relative;
    font-size: 1em;
    resize: none;
  }
  
  .cell-toolbar {
    position: absolute;
    top: -0.4em;
    right: 1em;
    display: flex;
    gap: 0.5rem;
    z-index: 1;
  }
  
  .preview-button,
  .delete-button {
    background: #444;
    color: white;
    border: none;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
  }
