/* .libraryContent {
    width: 100%;
  }
  .zoomControls {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .zoomControls button {
    font-size: 1em;
  } */

  .emptyMessage {
    text-align: center;
    color: #888;
    font-style: italic;
    margin: 2em 0;
  }